# Artifacts
_build
*.exe
test/attempt*
_opam/*
*.opam
*.txt
src/flags.ml
*/a.out
.*
*.cmi
*.cmo
*_compiled.ml
*_typed.ml
*_expanded.ml
*_translated.ml
*_rewritten.ml
*generated*
test/unit_tests_debug.ml
_coverage/*
*prompt*
src/flags.ml

# temporary
src/bbe_ppx_rewriter.ml
test/unit_tests_ppx_rewritten.ml
